*{
    margin: 0;
    padding: 0;
    font-family: 'myFirstFont', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
}

.board {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.board #timer {
    padding: 16px;
    color: white;
}

.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.help p {
    color: #ffffff;
    padding: 8px 0;
}

.help img {
    width: 72px;
}

.help_child {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.column img {
    width: 28px;
    padding: 8px;
}

.hp {
    display: flex;
    align-items: center;
}

.hp img {
    width: 48px;
    padding: 16px 8px;
}

.hp p {
    color: white;
    padding: 24px;
}

.tittle {
    position: absolute;
    top: 45%;
    animation: pressEnter 2s infinite;
    opacity: 1;
}

.tittle h3 {
    font-family: tittle;
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 300px;
    animation: pressEnter 3s infinite;
}

@keyframes pressEnter {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* Nave */

#nave {
    position: absolute;
    left: 48vw;
    top: 650px;
    line-height: 20px;
    font-size: 40px;
    opacity: 0;
}

#nave {
    letter-spacing: -4px;
}


.frente {
    text-align: center;
}

#shoot {
    color: white;
    position: absolute;
    top: 639px;
    left: 777px;
    display: none;
}

.glass {
    color: white;
    padding-left: 20px;
}

.body {
    color: green;
}

.turbina {
    color: red;
    z-index: -1;
    letter-spacing: 16px;
}


/* Alien */
.alienshoot {
    text-align: center;
    color: orange;
    position: absolute;
    top: 78px;
    display: none;
}

.alien {
    color: red;
    position: absolute;
    top: 60px;
    line-height: 20px;
    font-size: 40px;
    letter-spacing: -4px;
    display: none;
}

.alienglass {
    color: white;
    letter-spacing: 16px;
}

.alienturbina {
    padding-left: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.debug {
    border: 1px solid red;
}

.nave-alien {
    width: 64px;
}

.nave {
    width: 64px;
}

.shoot {
    width: 16px;
}