* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.scoreBoard {
    position: absolute;
    top: 0;
    left: 0;
    margin: 32px;
    border: 2px solid white;
    color: white;
    padding-bottom: 16px;
    animation: menuBar 6s;
}

.scoreBoard h2 {
    padding: 16px 8px;
}

.scoreBoard p {
    padding: 4px 8px;
}

#score {
    display: flex;
    flex-direction: column;
}

.title_img {
    display: block;
    margin: 0 auto;
    width: 30%;
    animation: title 4s;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    margin: 8px;
    width: 300px;
    height: 50px;
}

#start {
    background-image: url('../img/start_game.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    animation: menuBar 6s;
}

#about {
    background-image: url('../img/about.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    animation: menuBar 6s;
}

#return {
    background-image: url('../img/return.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    animation: menuBar 6s;
}

#start:hover {
    background-image: url('../img/start_game_hover.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#about:hover {
    background-image: url('../img/about_hover.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

#return:hover {
    background-image: url('../img/return_hover.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    animation: menuBar 6s;
}

.planet_img {
    display: block;
    margin: 0 auto;
    width: 60%;
    animation: planet 2s;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes planet {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menuBar {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}